<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Menu</li>
            <li class="mm-active">
                <a href="javascript:void(0)">
                <i class="fa-solid fa-house"></i>
                    Applications
                </a>
                <ul>
                    <li>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "Home") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>Dashboard
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="User" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "User") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>User
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Supplier" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "Supplier") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>Supplier
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Company" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "Company") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>Company
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Vehicle" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "Vehicle") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>Vehicle
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="PurchaseOrder" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "PurchaseOrder") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>PurchaseOrder
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="SalesOrder" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "SalesOrder") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>SalesOrder
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="StockHistory" asp-action="Index"
                           class="@((ViewContext.RouteData.Values["controller"].ToString() == "StockHistory") ? "mm-active" : "")">
                            <i class="metismenu-icon"></i>StockHistory
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>