@model VehicleShowroom.Mangement.Application.Models.DTOs.UserDTO
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles {
    <style>
        input {
            box-shadow: none !important;
        }
    </style>
}
<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa-solid fa-truck-field-un"></i>
                </div>
                <div>
                    User
                    <div class="page-title-subheading">
                        View detail
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card" id="divInfomation">
                <div class="card-body">
                    <div class="position-relative row form-group">
                        <label for="SupplierName" class="col-md-3 text-md-right col-form-label">Avatar</label>
                        <div class="col-md-9 col-xl-8">
                            <img src="@(Url.Content("~/Uploads/users/" + Model.Avatar))"
                                 alt="Avatar" class="card-img"
                                 style="width: 100px;" />
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="SupplierName" class="col-md-3 text-md-right col-form-label">#No</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="UserId" readonly>
                        </div>
                    </div>
                  
                    <div class="position-relative row form-group">
                        <label for="SupplierName" class="col-md-3 text-md-right col-form-label">User Name</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="Username" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="ContactPerson" class="col-md-3 text-md-right col-form-label">Full Name</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="FullName" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Email" class="col-md-3 text-md-right col-form-label">Email</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="Email" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="PhoneNumber" class="col-md-3 text-md-right col-form-label">Phone Number</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="PhoneNumber" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">Address</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="Address" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">Department</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="Department" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">Job title</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="JobTitle" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">Hire Date</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control"
                                   value="@Model.HireDate?.ToString("MM/dd/yyyy")"
                                   readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">Salary</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control"
                                   value="@Model.Salary?.ToString("C", System.Globalization.CultureInfo.CurrentCulture)"
                                   readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">DateOfBirth</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control"
                                    value="@Model.DateOfBirth?.ToString("MM/dd/yyyy")"
                                    readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">Nationality</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="Nationality" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="Address" class="col-md-3 text-md-right col-form-label">EmergencyContact</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="EmergencyContact" readonly>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="ContractDate" class="col-md-3 text-md-right col-form-label">Gender</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" value="@(
            Model.Gender == 1 ? "Male" :
            Model.Gender == 2 ? "Female" :
            Model.Gender == 3 ? "Prefer not to say" : "Not specified")" readonly>
                        </div>
                    </div>
                     <div class="position-relative row form-group">
                        <label for="ContractDate" class="col-md-3 text-md-right col-form-label">Role</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" value="@(
            Model.Role == 0 ? "User" :
            Model.Role == 1 ? "Admin" :
            Model.Role == 2 ? "Employee" :
            Model.Role == 3 ? "Invoice" : "Not specified")" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="ContractDate" class="col-md-3 text-md-right col-form-label">Status</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" value="@(
            Model.Status == 1 ? "Currently working" :
            Model.Status == 0 ? "Resigned" : "Not specified")" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-md-3 text-md-right col-form-label">CreateBy</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="CreateBy" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-md-3 text-md-right col-form-label">CreateDate</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="CreateDate" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-md-3 text-md-right col-form-label">UpdateBy</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="UpdateBy" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-md-3 text-md-right col-form-label">UpdateDate</label>
                        <div class="col-md-9 col-xl-8">
                            <input type="text" class="form-control" asp-for="UpdateDate" readonly>
                        </div>
                    </div>
                    <div class="position-relative row form-group mb-1">
                        <div class="col-md-9 col-xl-8 offset-md-2">
                            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="border-0 btn btn-outline-danger mr-1">
                                <span class="btn-icon-wrapper pr-1 opacity-8">
                                    <i class="fa fa-times fa-w-20"></i>
                                </span>
                                <span>Cancel</span>
                            </a>

                            <button onclick="printElement('divInfomation')" class="btn-shadow btn-hover-shine btn btn-primary">
                                <span class="btn-icon-wrapper pr-2 opacity-8">
                                    <i class="fa fa-download fa-w-20"></i>
                                </span>
                                <span>Print document</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>