@model IPagedList<VehicleShowroom.Mangement.Application.Models.DTOs.SupplierDTO>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Supplier Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var keyword = ViewBag.keyword;
    int i = 1;
}
<!-- Main -->
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa-solid fa-truck-field-un"></i>
                </div>
                <div>
                    Supplier
                    <div class="page-title-subheading">
                        View, create, update, delete and manage.
                    </div>
                </div>
            </div>

            <div class="page-title-actions">
                <a asp-area="Admin" asp-controller="Supplier" asp-action="Create" class="btn-shadow btn-hover-shine mr-3 btn btn-primary">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-plus fa-w-20"></i>
                    </span>
                    Create
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <div class="main-card mb-3 card">
                <div class="card-header d-flex justify-content-between">
                    <form>
                        <div class="input-group">
                            <input type="search" value="@keyword" name="keyword" id="search"
                                   placeholder="Search by name" class="form-control">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>&nbsp;
                                    Search
                                </button>
                            </span>
                        </div>
                    </form>
                    <a asp-area="Admin" asp-controller="Supplier" asp-action="Index" type="button" class="btn btn-warning text-white">
                        <i class="fa-solid fa-arrows-rotate"></i>&nbsp;
                        Reset
                    </a>
                </div>

                <div class="table-responsive" id="divTesst">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#No</th>
                                <th class="text-center">Supplier Name</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Contract Date</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                <tr>
                                    <td class="text-center text-muted">#@i</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading text-center">@s.SupplierName</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">@s.PhoneNumber</td>
                                    <td class="text-center">@s.Email</td>
                                    <td class="text-center">@s.Address</td>
                                    <td class="text-center">@s.Status</td>
                                    <td class="text-center">@String.Format("{0:MM/dd/yyyy}", s.ContractDate)</td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Supplier" asp-action="Detail" asp-route-id="@s.SupplierId"
                                           class="btn btn-hover-shine btn-outline-primary border-0 btn-sm">
                                            Details
                                        </a>
                                        <a asp-controller="Supplier" asp-action="Edit" asp-route-id="@s.SupplierId" data-toggle="tooltip"
                                           data-placement="bottom" class="btn btn-outline-warning border-0 btn-sm">
                                            <span class="btn-icon-wrapper opacity-8">
                                                <i class="fa fa-edit fa-w-20"></i>
                                            </span>
                                        </a>
                                        <a asp-controller="Supplier" asp-action="Delete" asp-route-id="@s.SupplierId" asp-route-page="@ViewData["CurrentPage"]"
                                           onclick="return confirm('Do you really want to delete this item?')" data-toggle="tooltip"
                                           data-placement="bottom" class="btn btn-outline-danger border-0 btn-sm">
                                            <span class="btn-icon-wrapper opacity-8">
                                                <i class="fa fa-trash fa-w-20"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>

                <div class="d-block card-footer">
                    <nav role="navigation" aria-label="Pagination Navigation" class="flex items-center justify-between">
                        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                            <div>
                                <p class="text-sm text-gray-700 leading-5">
                                    Showing
                                    <span class="font-medium">@((Model.PageNumber - 1) * Model.PageSize + 1)</span>
                                    to
                                    <span class="font-medium">@Math.Min(Model.PageNumber * Model.PageSize, Model.TotalItemCount)</span>
                                    of
                                    <span class="font-medium">@Model.TotalItemCount</span>
                                    results
                                </p>
                            </div>

                            <div>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                                                 new PagedListRenderOptions
                                        {
                                            LiElementClasses = new[] { "page-item" },
                                            PageClasses = new[] { "page-link" },
                                            UlElementClasses = new[] { "pagination" }
                                        })
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>