@model List<VehicleShowroom.Management.Application.Models.DTOs.SalesOrderDetailDTO>

@{
    ViewData["Title"] = "Sales Order Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var i = 1;
}

<!-- Main -->
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div>
                    Sales Order Detail
                    <div class="page-title-subheading">
                        View, create, update, delete and manage.
                    </div>
                </div>
            </div>

         
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <div class="main-card mb-3 card">
                <div class="card-header d-flex justify-content-between">
                    <a asp-area="Admin" asp-controller="SalesOrder" asp-action="Index" type="button" class="btn btn-warning text-white">
                        <i class="fa-solid fa-arrow-left"></i>&nbsp;
                        Back
                    </a>
                </div>

                <div class="table-responsive" id="divTesst">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#No</th>
                                <th class="text-center">Image</th>
                                <th class="text-center">Model Number</th>
                                <th class="text-center">Vehicle Name</th>
                                <th class="text-center">Supplier Name</th>
                                <th class="text-center">Company Name</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Unit Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center text-muted">#@i</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">
                                                    <img src="@(Url.Content("~/Uploads/vehicles/" + item.Image))"
                                                         alt="Avatar" class="card-img"
                                                         style="width: 100px;height:100px;object-fit: cover;" />
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">@item.ModelNumber</td>
                                    <td class="text-center">@item.VehicleName</td>
                                    <td class="text-center">@item.SupplierName</td>
                                    <td class="text-center">@item.CompanyName</td>
                                    <td class="text-center">@item.Quantity</td>
                                    <td class="text-center">@string.Format("{0:C}", item.UnitPrice)</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>